* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;
}

.vscode-dark {
    color: #D4D4D4;
}

.vscode-light {
    color: #333333;
}

h1,
h2,
h3 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ol,
ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 3px;
}

header,
#content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 36px;
    font-family: "Segoe UI Semibold", sans-serif;
    line-height: 44px;
    margin-bottom: 0;
}

header p {
    font-size: 24px;
    text-align: left;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 0;
}

.vscode-dark header p,
header p {
    color: #999999;
}

.vscode-light header p {
    color: #666666;
}

/*#region main-content*/

#content {
    display: table;
    min-width: 900px;
}

#title-area,
#main-content {
    padding-left: 50px;
}

#main-content {
    max-width: 75%;
    float: left;
    padding-right: 40px
}

#main-content h2 {
    font-size: 32px;
    font-family: "Segoe UI Light", sans-serif;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 0;
}

.interactive {
    margin-top: 10px
}

.vscode-dark .interactive,
.interactive {
    background-color: #2B2B2B;
}

.vscode-light .interactive {
    background-color: #F7F7F7;
}

.vscode-dark .interactive:hover,
.interactive:hover {
    background-color: #303030;
}

.vscode-light .interactive:hover {
    background-color: #F0F0F0;
}

.interactive>div {
    padding: 20px;
}

.arrow {
    float: right;
    margin-top: 17px;
    margin-right: 30px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    transform: rotate(45deg);
}

.vscode-dark .arrow,
.arrow {
    border-color: transparent #D4D4D4 #D4D4D4 transparent;
}

.vscode-light .arrow {
    border-color: transparent #333333 #333333 transparent;
}

.arrow-up {
    margin-top: 31px;
    transform: rotate(225deg);
}

.interactive .description {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

.vscode-dark .interactive .description,
.interactive .description {
    color: #999999;
}

.vscode-light .interactive .description {
    color: #666666;
}

.interactive a {
    display: block;
    width: 200px;
    height: 44px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    padding-top: 12px;
    border-radius: 4px;
}

.tab-link{
    outline: none !important;
}

.vscode-dark .interactive a,
.interactive a {
    background-color: #0062A3;
}

.vscode-light .interactive a {
    background-color: #007ACC;
}

.vscode-dark .interactive a:hover,
.interactive a:hover {
    background-color: #007ACC;
}

.vscode-light .interactive a:hover {
    background-color: #0062A3;
}

.detail {
    display: none;
    padding-top: 0 !important;
}

.detail img {
    margin-top: 15px;
}

.interactive h3 {
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    margin: 0;
}

#simulation-tutorial{
    display: block;
    max-width: 800px;
}

#edge-tutorial{
    display: none;
    max-width: 800px;
}

#device-tutorial{
    display: none;
    max-width: 800px;
}

#simulation-tutorial h3, #edge-tutorial h3, #device-tutorial h3{
    font-family: "Segoe UI Light", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center
}

/*#endregion main-content*/

/*#region sidebar*/

#sidebar {
    float: left;
    max-width: 20%;
    position: sticky;
    top: 30px;
}

#sidebar h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}

#whats-new h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}

#resources>div {
    margin-top: 9px;
}

/*#endregion sidebar*/

#back-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 100px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 6px;
    font-size: 28px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.list-heading {
    font-weight: normal;
}

.vscode-dark #back-to-top,
#back-to-top {
    color: #D4D4D4;
    background-color: #2B2B2B;
}

.vscode-light #back-to-top {
    color: #333333;
    background-color: #E7E7E7;
}

.vscode-dark #back-to-top:hover,
#back-to-top:hover {
    background-color: #303030;
}

.vscode-light #back-to-top:hover {
    background-color: #E0E0E0;
}

.vscode-dark {
    background-color: #1E1E1E;
}

.vscode-light .pivotTabs ul {
    margin: 24px 0 40px;
    border-bottom: 1px solid hsla(0, 0%, 89%, 1);
    padding-left: 0;
}

.vscode-dark .pivotTabs ul {
    margin: 24px 0 40px;
    border-bottom: 1px solid hsla(0, 0%, 47%, 1);
    padding-left: 0;
}

.pivotTabs li {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.68;
    list-style: none;
    margin: 0 4px -1px 0;
    padding: 5px 41px 0;
}

.pivotTabs li a {
    font-size: 20px;
}

.pivotTabs li:active,.pivotTabs li:hover {
    background-color: rgba(0,80,197,.07)
}

.vscode-light .pivotTabs li.selected {
    border-color: hsla(206, 100%, 35%, 1) hsla(0, 0%, 89%, 1) hsla(0, 0%, 100%, 1);
    border-style: solid;
    border-width: 2px 1px 1px;
    padding: 0 40px
}

.vscode-dark .pivotTabs li.selected {
	border-color: hsla(206, 0%, 47%, 1) hsla(0, 0%, 47%, 1) hsl(0, 0%, 12%);
	border-style: solid;
    border-width: 2px 1px 3px;
    padding: 0 40px
}

.pivotTabs li.selected a {
    color: hsla(0, 0%, 0%, 1);
    color: var(--text)
}

.pivotTabs a,.pivotTabs a:active,.pivotTabs a:hover,.pivotTabs a:visited {
    color: hsla(0, 0%, 37%, 1);
    color: var(--text-subtle);
    text-decoration: none
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}

.show-welcome-page {
    margin-bottom: 40px
}

.vscode-light .hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #000;
	background: #f8f8ff
}

.vscode-light .hljs-comment,
.vscode-light .hljs-quote {
	color: #408080;
	font-style: italic
}

.vscode-light .hljs-keyword,
.vscode-light .hljs-selector-tag,
.vscode-light .hljs-literal,
.vscode-light .hljs-subst {
	color: #954121
}

.vscode-light .hljs-number {
	color: #40a070
}

.vscode-light .hljs-string,
.vscode-light .hljs-doctag {
	color: #219161
}

.vscode-light .hljs-selector-id,
.vscode-light .hljs-selector-class,
.vscode-light .hljs-section,
.vscode-light .hljs-type {
	color: #19469d
}

.vscode-light .hljs-params {
	color: #00f
}

.vscode-light .hljs-title {
	color: #458;
	font-weight: bold
}

.vscode-light .hljs-tag,
.vscode-light .hljs-name,
.vscode-light .hljs-attribute {
	color: #000080;
	font-weight: normal
}

.vscode-light .hljs-variable,
.vscode-light .hljs-template-variable {
	color: #008080
}

.vscode-light .hljs-regexp,
.vscode-light .hljs-link {
	color: #b68
}

.vscode-light .hljs-symbol,
.vscode-light .hljs-bullet {
	color: #990073
}

.vscode-light .hljs-built_in,
.vscode-light .hljs-builtin-name {
	color: #0086b3
}

.vscode-light .hljs-meta {
	color: #999;
	font-weight: bold
}

.vscode-light .hljs-deletion {
	background: #fdd
}

.vscode-light .hljs-addition {
	background: #dfd
}

.vscode-light .hljs-emphasis {
	font-style: italic
}

.vscode-light .hljs-strong {
	font-weight: bold
}

.vscode-dark .hljs-comment,
.vscode-dark .hljs-quote {
	color: #65737e
}

/* Code style for dark theme */
.vscode-dark .hljs-variable,
.vscode-dark .hljs-template-variable,
.vscode-dark .hljs-tag,
.vscode-dark .hljs-name,
.vscode-dark .hljs-selector-id,
.vscode-dark .hljs-selector-class,
.vscode-dark .hljs-regexp,
.vscode-dark .hljs-deletion {
	color: #bf616a
}

.vscode-dark .hljs-number,
.vscode-dark .hljs-built_in,
.vscode-dark .hljs-builtin-name,
.vscode-dark .hljs-literal,
.vscode-dark .hljs-type,
.vscode-dark .hljs-params,
.vscode-dark .hljs-meta,
.vscode-dark .hljs-link {
	color: #d08770
}

.vscode-dark .hljs-attribute {
	color: #ebcb8b
}

.vscode-dark .hljs-string,
.vscode-dark .hljs-symbol,
.vscode-dark .hljs-bullet,
.vscode-dark .hljs-addition {
	color: #a3be8c
}

.vscode-dark .hljs-title,
.vscode-dark .hljs-section {
	color: #8fa1b3
}

.vscode-dark .hljs-keyword,
.vscode-dark .hljs-selector-tag {
	color: #b48ead
}

.vscode-dark .hljs {
	display: block;
	overflow-x: auto;
	background: #2b303b;
	color: #c0c5ce;
	padding: 0.5em
}

.vscode-dark .hljs-emphasis {
	font-style: italic
}

.vscode-dark .hljs-strong {
	font-weight: bold
}
